<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IWeatherGrabberService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50050/WeatherGrabberService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWeatherGrabberService"
                contract="WeatherGrabbberClient.IWeatherGrabberService" name="WSHttpBinding_IWeatherGrabberService">
            </endpoint>
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="wcf:disableOperationContextAsyncFlow" value="false" />
  </appSettings>
</configuration>